{% load static %}
<link rel="stylesheet" href="{% static 'crawmania/style.css' %}">
<!DOCTYPE html>
<html lang="en">
    <div class="topnav">
        <a href="http://127.0.0.1:8000/crawmania/">Home</a>
        <a href="http://127.0.0.1:8000/crawmania/guestlist/">Guestlist</a>
        <a href="http://127.0.0.1:8000/crawmania/prize/">Prizes</a>
        <a class="active" href="http://127.0.0.1:8000/crawmania/about/">About</a>
      </div>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/cfUu1efuDtU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="what"><p>what is crawmania? Come to one and find out</p></center><div>
</body>
</html>

