{% load static %}
<link rel="stylesheet" href="{% static 'crawmania/style.css' %}">
<div class="topnav">
    <a href="http://127.0.0.1:8000/crawmania/">Home</a>
    <a href="http://127.0.0.1:8000/crawmania/guestlist/">Guestlist</a>
    <a class="active" href="http://127.0.0.1:8000/crawmania/prize/">Prizes</a>
    <a href="http://127.0.0.1:8000/crawmania/about/">About</a>
  </div>



<div>
    <h4>All PrizeWinners of {{ year|date:"Y" }}</h4>
    {% for obj in object_list %}
    <p class="pap"><img src="{{obj.image.url}}" align="top">{{ obj.prize }} | {{ obj.pub_date }} |
        Winner: {{ obj.winner }}.</p>
    {% endfor %}
</div>